<div class="left-half">
    <mat-card>
    <mat-card-content >
        <span class="login100-form-title p-b-49">
            Forgot Password
        </span>  
        <form (ngSubmit)="onSubmit()" name="forgotpasswordForm" [formGroup]="forgotpasswordForm">
                   
            <div class="emailInput">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Email</mat-label>
                 
                  <!-- <input formControlName="email" matInput placeholder="Enter email address" required/>
                   -->
                   <input formControlName="email" matInput type="email" placeholder="email">
                   <mat-icon matSuffix>email</mat-icon>
                   <mat-error *ngIf="!forgotpasswordForm.controls['email'].valid">  Email is required </mat-error>
                  </mat-form-field>
              </div>
              <div class="example-button-row">
                <button class="btn btn-outline-primary" (click)="SendEmail()">Send Email</button>
              </div>
        </form>
    </mat-card-content>
    </mat-card>
</div>




