<form class="form-inline waves-light" mdbWavesEffect >
  <div class="md-form mt-0">
    <input class="form-control mr-sm-2" type="text"  placeholder="Search" name="Search"  [(ngModel)]="searchText">
  </div>
</form>
<br>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">Patient Id</th>
    <th scope="col">Patient Name</th>
    <th scope="col">Date</th>
    <th scope="col">Status</th>
    <th scope="col">Edit Status</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of listing | filter : searchText">
    <td>
      {{ user.patientId }}
    </td>
    <td>{{ user.fname  }} {{ user.lname  }}</td>
    <td>{{ user.dob }}</td>
    <td>{{ user.status }}</td>
    <td>
      
      <button  class="btn" style="color: blue;" (click)="show(user.patientId)" *ngIf="selectedPatient!==user.patientId"  > <mat-icon>edit</mat-icon></button>
      <mat-radio-group aria-label="Select an option" *ngIf="selectedPatient===user.patientId">
        <mat-radio-button value={{btnValue}} name="btnValue"  (change)="getCurrentStatus($event.value)">&nbsp;{{btnValue}}&nbsp;</mat-radio-button>&nbsp;
        <mat-radio-button value={{btnValue1}} name="btnValue1" (change)="getCurrentStatus($event.value)">&nbsp;{{btnValue1}}&nbsp;</mat-radio-button>&nbsp;
        <button class="btn " style="color: green;" (click)="saveStatus(user) ">&nbsp;<mat-icon>save</mat-icon> &nbsp;</button>
        <button class="btn" style="color: red;" (click)=cancleStatus()>&nbsp;
        <mat-icon>cancel</mat-icon>
         &nbsp;</button>
      </mat-radio-group>
    </td>
  </tr>
  </tbody>
</table>