.login100-form-title {
    display: block;
    font-family: Poppins-Bold;
    font-size: 39px;
    color: #333;
    line-height: 1.2;
    text-align: center;
  }
.emailInput{
    padding-top: 20px;
  }

  .full-width {
    width: 80%;
  }
  .p-b-49 {
    padding-bottom: 30px;
  }




  .example-container{
    text-align: center
}

.form-container{
    width: 400 px; 
    margin: 0 px auto; 
    margin-top: 200 px
}

.form-field{
    display: block
}

.main-wrapper {
	height: 100%;
}
.example-full-width {
    width: 40%;
  }