<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card >
      <mat-card-header class="box">
        <mat-card-title>Visit Details</mat-card-title>
      </mat-card-header>
  
  <form class="VisitDetails">
    <mat-card-content>
    <mat-form-field class="example-full-width" >
      <mat-label>Height</mat-label>
      <input matInput #first placeholder="Enter Height">         
      <mat-hint>Autofilled!</mat-hint>
    </mat-form-field><br>
    <mat-form-field  class="example-full-width"> 
      <mat-label>Weight</mat-label>
      <input matInput #last placeholder="Enter Weight">
      <mat-hint>Autofilled!</mat-hint>
    </mat-form-field><br>
    <mat-form-field  class="example-full-width">
      <mat-label>Blood Pressure</mat-label>
      <input matInput #last placeholder="Enter Blood Tempreture">
      <mat-hint>Autofilled!</mat-hint>
    </mat-form-field><br>
    <mat-form-field  class="example-full-width">
      <mat-label>Body Tempreture</mat-label>
      <input matInput #last placeholder="Enter Body Tempreture">
      <mat-hint>Autofilled!</mat-hint>
    </mat-form-field><br>
    <mat-form-field  class="example-full-width">
      <mat-label>Respiration Rate</mat-label>
      <input matInput #last placeholder="Enter Respiration Rate">
      <mat-hint>Autofilled!</mat-hint>
    </mat-form-field>
    </mat-card-content>
  
    <button mat-stroked-button color="accent" class="btn-block">Submit</button>
  </form>
  </mat-card>
  </div>