<div class="class">
    <div class="card-body">
        <form [formGroup]="addAppointForm"  (ngSubmit)="onSubmit()">
       <mat-card>  
        <div>
            <button class="btn btn-primary mr-1" (click)="BackToScheduleform()">Back</button>
        </div>
    <!-- Title of an Card -->  
       <mat-card-title>  
        <h2 class="title">{{FormPage}}</h2>
    </mat-card-title>  
  
    <!-- Actual content starts from here -->
    
    <mat-card-content>  
                
            <table > 
                <tr>
                    <td> 
                        <div class="form-group">
                            <label class="label">Appointment Id</label>
                                <input type="text" formControlName="appointId" required class="form-control" />
                                <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstName.errors.required">First Name is required</div> 
                                    
                                </div> -->
                            </div>
                            
                    </td>  
                <td> 
                    <div class="form-group">
                        <label class="label">Meeting Title</label>
                            <input type="text" formControlName="mtitle" required class="form-control" />
                            <!-- <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                <div *ngIf="f.firstName.errors.required">First Name is required</div> 
                                
                            </div> -->
                        </div>
                        
                </td>  
            </tr>
            <tr>
                <td>  
                    <div class="form-group">
                            <label class="label">Description</label>
                            <input type="text" formControlName="description" class="form-control" required  />
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" -->
                            <!-- <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div> -->
                    </div>
                </td>  
            </tr>   
            <tr>
            <td >  
                <div class="form-row">
                    <div class="form-group col">
                        <label class="label">Date</label>
                             <input type="date" formControlName="dateSlot" class="form-control"  />
                                <!-- <div *ngIf="submitted && f.dob.errors" class="invalid-feedback"> -->
                                    <!-- <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                    <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                                </div> -->
                            </div> 
                        </div>  
                    </td>  
                    <td >  
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="label">Time</label>
                                     <input type="time" formControlName="timeSlot" class="form-control"  />
                                        <!-- <div *ngIf="submitted && f.dob.errors" class="invalid-feedback"> -->
                                            <!-- <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                            <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                                        </div> -->
                                    </div> 
                                </div>  
                            </td> 
                </tr>
                <tr>
                    <td >  
                        <div class="form-row">
                            <div class="form-group col">
                                <label class="label">Patient Details</label>
                                     <input type="text" formControlName="paitentDetails" class="form-control"  />
                                        <!-- <div *ngIf="submitted && f.dob.errors" class="invalid-feedback"> -->
                                            <!-- <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                            <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                                        </div> -->
                                    </div> 
                                </div>  
                            </td>  
                            <td >  
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label class="label">Edit History</label>
                                             <input type="text" formControlName="editHistory" class="form-control"  />
                                                <!-- <div *ngIf="submitted && f.dob.errors" class="invalid-feedback"> -->
                                                    <!-- <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                                    <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                                                </div> -->
                                            </div> 
                                        </div>  
                                    </td> 
                        </tr>
                
                <tr>  
                <td colspan="2" class="content-center">  
                    <button class="btn btn-primary mr-1">{{btnValue}}</button>
                </tr>
            </table>      
        
    </mat-card-content>  
</mat-card>
</form>  
</div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <th scope="col">Appointment ID</th>
            <th scope="col">Meeting Title</th>
            <th scope="col">Description</th>
            <th scope="col">Patient Details</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Edit History</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor= 'let view of ViewPatient'>
                <td><a href="#">{{view.Appointment_Id}}</a></td>
                <td>{{view.Meeting_Title}}</td>
                <td>{{view.Description}}</td>
                <td>{{view.Patient_Details}}</td>
                <td>{{view.Date}}</td>
                <td>{{view.Time}}</td>
                <td>{{view.Edit_History}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editDetails(view.Appointment_Id)">Edit</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" (click)="deleteDetails(view.Appointment_Id)">Decline</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


