

 <div class="left-half">
    <mat-card>
    <mat-card-content >
        <span class="login100-form-title p-b-49">
            Change Password
        </span>  

        <form (ngSubmit)="onSubmit()" name="changepassForm" [formGroup]="changepassForm">
           
            

              <!-- <div class="emailInput">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Old Password</mat-label>
                  
                  <input formControlName="password" matInput type=" hide ? 'password' : 'text'" required placeholder="Old Password" type="password">
                  <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
                  </button>
                    <mat-error *ngIf="!changepassForm.controls['password'].valid">
                        Password is required
                        </mat-error> 
                    </mat-form-field>
                </div> -->
                
                <div class="emailInput">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    
                    <input formControlName="email" matInput required placeholder="email" type="email">
                      </mat-form-field>
                  </div>
            
              <div class="emailInput">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>New Password</mat-label>
                  
                  <input formControlName="newpassword" matInput type=" hide ? 'newpassword' : 'text'" required placeholder="New Password" type="password">
                  <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
                  <!-- <mat-icon>
                      {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon> -->
                  </button>
                  <!-- <mat-error *ngIf="checkError('newpassword', 'required')">New Password is required</mat-error>
                  <mat-error *ngIf="checkError('newpassword', 'minlength')">Password entry does not meet criteria</mat-error> -->
                  
                  <mat-error *ngIf="changepassForm.controls['newpassword'].hasError('required')">New Password is required</mat-error>
                  <!-- <mat-error *ngIf="changepassForm.controls['newpassword'].hasError('minlength')">Password entry does not meet criteria</mat-error> -->
                  <mat-error *ngIf="changepassForm.controls['newpassword'].hasError('pattern')">Password entry does not meet criteria</mat-error>

              
              </mat-form-field>
            </div>

              
            <div class="emailInput">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Confirm New Password</mat-label>
                  
                  <input formControlName="confirmnewpassword" type="password" matInput type=" hide ? 'confirmnewpassword' : 'text'" required placeholder="Confirm New Password">
                  <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
                  [attr.aria-pressed]="hide">
                  <!-- <mat-icon>
                      {{hide ? 'visibility_off' : 'visibility'}}
                  </mat-icon> -->
                  </button>
                
                <mat-error *ngIf="changepassForm.controls['confirmnewpassword'].hasError('MustMatch')">Password Must Match</mat-error>
                 
              </mat-form-field>
            </div>


              <div class="example-button-row">
                <button class="btn btn-outline-primary">Submit</button>
              </div>
            
        </form>
       



    </mat-card-content>
    </mat-card>
</div>