<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Nurse </h2>
            <h4>Nurse@email.com</h4>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7FqSE46QFOJAAmw4ALVH4w1kR-IaV8cil9g&usqp=CAU" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="recievenotes">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="myprofile">My Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="appointment">Scheduling</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="">Inbox </a>
    
    <mat-divider></mat-divider>

    
</mat-nav-list> 