<accordion [isAnimated]="true">
  <accordion-group heading="Book Appointments">
    <div>
      <div class="row text-center">
        <div class="col-md-4">
          <div class="btn-group">
            <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              Previous
            </div>
            <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate">
              Today
            </div>
            <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
              (viewDateChange)="closeOpenMonthViewDay()">
              Next
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
      </div><br>

      <!-- Everything you see below is just for the demo, you don't need to include it in your app -->


      <div class="clearfix">
        <button class="btn float-left" style="color:blue;" (click)="addEvent()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Title</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <td>
                <input type="text" [(ngModel)]="event.title" class="form-control" (keyup)="refresh.next()">
              </td>
              <td>
                <div class="col-xs-12 col-12 col-md-6 form-group">
                  <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker
                    [(ngModel)]="event.start" (ngModelChange)="refresh.next()" dateFormat="Y-m-dTH:i"
                    altFormat="F j, Y H:i">
                </div>
              </td>
              <td>
                <div class="col-xs-12 col-12 col-md-6 form-group">
                  <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker [(ngModel)]="event.end"
                    (ngModelChange)="refresh.next()" dateFormat="Y-m-dTH:i" altFormat="F j, Y H:i">

                </div>
              </td>

              <td>
                <button class="btn" style="color: red;" (click)="deleteEvent(event)">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </accordion-group>
</accordion>