<div class="section-1-container section-container class">
    <div class="card-body container">
        <form [formGroup]= "scheduleForm">
       <mat-card class="example-card">  
    <!-- Title of an Card -->  
       <mat-card-title>  
        <h2 class="title">Scheduling Form</h2>
    </mat-card-title>  
  
    <!-- Actual content starts from here -->
    
    <mat-card-content>  
                
            <table> 
            <div class="form-group text-center">
            <tr>
                <td> 
                  
                    <div class="form-group text-right">
                    <div class="row">
                    <mat-form-field appearance="fill">
                        <mat-label class="label">Physican Name</mat-label>
                        <mat-select>
                                    <!-- <mat-option *ngFor="let food of foods" [value]="PhysicianName.value">
                                         {{food.viewValue}}
                                    </mat-option> -->
                        <mat-option class="form-control form-control-lg" *ngFor='let name of arrayPhysician' [value]="name.value">
                            {{name.viewValue}}
                        </mat-option>
                        </mat-select>
                        </mat-form-field>
                 </div>  
                </div>      
                </td>  
            </tr>
            <tr>
                <td>  
                    <div class="form-group">
                            <label class="label">Physican Employee ID</label>
                            <input type="text" formControlName="PhysianEmpId" class="form-control" readonly  />
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" -->
                            <!-- <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                            </div> -->
                        </div>
                    </td>   
                </tr>
                <tr>
                    <td >     
                        <div class="form-group">
                            <div class="form-group col">
                                <label class="label">Available Dates</label>
                                <input type="date" formControlName="availabledateSlot" class="form-control" />
                                <!-- <div *ngIf="submitted && f.dob.errors" class="invalid-feedback"> -->
                                    <!-- <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                    <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                                </div> -->
                            </div> 
                        </div>  
                    </td>
                </tr><br>
                <tr>
                    <td >  
                        <div class="form-group">
                            <div class="form-group col">
                                <label class="label">Available Time Slot</label>
                                <input type="date" formControlName="availableTimeSlot" class="form-control" />
                                <!-- <div *ngIf="submitted && f.dob.errors" class="invalid-feedback"> -->
                                    <!-- <div *ngIf="f.dob.errors.required">Date of Birth is required</div>
                                    <div *ngIf="f.dob.errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
                                </div> -->
                            </div> 
                        </div>  
                    </td> 
                </tr><br>
                    
                <tr>  
                <td colspan="2" class="content-center">  
                    <button class="btn btn-primary" (click)="openAddAppointment()">Add Appointment</button>&nbsp;&nbsp;
                    <!-- <button class="btn btn-secondary"  (click)="openEditAppointment()"  >Edit Appointment</button>&nbsp;&nbsp;
                    <button class="btn btn-secondary" type="reset" (click)="openDeleteAppointment()">Delete Appointment</button>&nbsp;&nbsp; -->
                </tr>
            </div>  
            </table>    
        
        
    </mat-card-content>  
</mat-card>
</form>  
</div>
</div>

