<div class="container">  
    <span class="login100-form-title p-b-49">
         Registration
    </span>  
    
    <form [formGroup]="regiForm" (ngSubmit)="onSubmit()">
    <div class="row">
    <mat-radio-group>
        <mat-label>Title</mat-label>&nbsp;&nbsp;&nbsp;
        <mat-radio-button value="1" color="primary">&nbsp;Mr.&nbsp;</mat-radio-button>  
        <mat-radio-button value="1" color="primary">&nbsp;Ms.&nbsp;</mat-radio-button>  
        <mat-radio-button value="2" color="accent">&nbsp;Mrs.&nbsp;</mat-radio-button>  
        <mat-radio-button value="3" color="warn">&nbsp;Dr.&nbsp;</mat-radio-button>      
    </mat-radio-group> 
  </div>
    <div class="row">
    <div class="col-md-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>First Name</mat-label>
         
          
           <input  matInput formControlName="Fname" placeholder="First Name" required>
           
         <mat-error *ngIf="!regiForm.controls['Fname'].valid">  First Name is required </mat-error> 
          </mat-form-field>
      </div>
    
    
       <div class="col-md-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Last Name</mat-label>
           <input  matInput formControlName="Lname" placeholder="Last Name" required>
            <mat-error *ngIf="!regiForm.controls['Lname'].valid">  Last name is required </mat-error> 
          </mat-form-field>
      </div>
    </div>
    <div class="row">
        <mat-form-field class="full-width" appearance="outline">
        <mat-label>DOB</mat-label>
        <input matInput formControlName="Dob" [matDatepicker]="picker">
        <mat-error *ngIf="regiForm.controls['Dob'].hasError('required')">Date of Birth is required</mat-error>

        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>  
    </div>
    <div class="row">
        <div class="col-md-3">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Email</mat-label>
           <input  matInput formControlName="Email" type="email" placeholder="email" required>
           <mat-error *ngIf="!regiForm.controls['Email'].valid">  Email is required </mat-error> 
           <mat-icon matSuffix>email</mat-icon>
           </mat-form-field>
        </div>  
      
      
         <div class="col-md-3">
         <mat-form-field class="full-width" appearance="outline">
          <mat-label>Contact</mat-label>       
           <input  matInput formControlName="ContactNumber" type="tel" placeholder="Contact" required>
           <mat-error *ngIf="!regiForm.controls['ContactNumber'].valid">  Contact is required </mat-error> 
          </mat-form-field>
       </div>  
    </div>
    <div class="row">
     <div class="col-md-3">
     <mat-form-field class="full-width" appearance="outline">
        <mat-label>Password</mat-label>
         <input  matInput formControlName="Password" type="password" placeholder="password" required>
         <mat-error *ngIf="!regiForm.controls['Password'].valid">  Password is required </mat-error> 
     </mat-form-field>
    </div>
    <br/> 
    </div>
       <div class="example-button-row">
         <button mat-flat-button color="primary">Register</button> &nbsp;&nbsp;
        <button mat-flat-button color="primary" type="reset" (click)="onReset()">Cancel</button>
      </div>
      
    </form>
    
</div>