


<div class="container">
    <div class="row">
  
     <div class="col">
      <form (ngSubmit)="onSubmit()" name="" [formGroup]="procForm">
        <mat-card-title style="text-align: center;">  
          <h2>Procedure Form</h2>
        </mat-card-title>
        
      
        <mat-form-field appearance="legacy" class="full-width col-4">
          <mat-label>Procedure code</mat-label>
          <input formControlName="ProcedureCode" matInput required > 
        </mat-form-field>

       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;




        <mat-form-field appearance="legacy" class="full-width col-4">
            <mat-label>Procedure description</mat-label>
            <input formControlName="ProcedureDescription" matInput required > 
          </mat-form-field>

       

         <br> <br>

         <!-- <mat-radio-group name="id" >
            <mat-label> Procedure Is Depricated</mat-label>&nbsp;&nbsp;&nbsp;
         <mat-radio-button value="Yes" >
             Yes 
         </mat-radio-button>&nbsp;&nbsp;
         <mat-radio-button value="No">
            No
        </mat-radio-button>
        </mat-radio-group> -->
               
        <!-- <div class="row">
          <mat-radio-group name="id" formControlName= "IsProcedureDepricated">
             <mat-label> Diagnosis Is Depricated</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-button value=1 (change)="currentValue($event.value)">
              Yes 
          </mat-radio-button>&nbsp;&nbsp;
          <mat-radio-button value=0 (change)="currentValue($event.value)">
             No
         </mat-radio-button>
         </mat-radio-group>
       </div> -->

        <br> <br>


        
        <div class="example-button-row">
        <button mat-flat-button color="primary">Submit</button>
      </div>
       </form>
     </div>
    </div>
  </div>
  