<div class="class">
    <div class="card-body">
        <form [formGroup]="deletescheduleForm">
       <mat-card>  
        <div>
            <button class="btn btn-primary mr-1" (click)="BackToScheduleform()">Back</button>
        </div>
    <!-- Title of an Card -->  
       <mat-card-title>  
        <h2 class="title">Delete Scheduling Form</h2>
    </mat-card-title>  
  
    <!-- Actual content starts from here -->
    
    <mat-card-content>  
                
            <table > 
                <tr>
                <td> 
                    <div class="form-group">
                        <mat-form-field appearance="fill">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                          </mat-form-field>
                        </div>
                        
                </td>  
            </tr>
          
            <tr>  
                <td colspan="2" class="content-center">  
                    <button class="btn btn-secondary"  (click)="DeleteAppointment()">Delete Appointment</button>
                </tr>
            </table>      
        
    </mat-card-content>  
</mat-card>
</form>  
</div>
</div>


