<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Physician </h2>
            <h4>Physician@email.com</h4>
        </div>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7FqSE46QFOJAAmw4ALVH4w1kR-IaV8cil9g&usqp=CAU" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/physician">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="myprofile">My Profile</a>
    
    
    <mat-accordion class="app-nav-accordion">
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>
            <mat-panel-title>Notes</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="sendnotes">Send Note</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="recievenotes">Reciever Notes</a>
            <a mat-list-item routerLinkActive="list-item-active" routerLink="sentnotes">Sent Notes</a>

        </mat-nav-list>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-divider></mat-divider>
    
    
    
    
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="recievenotes">Inbox</a>
    <mat-divider></mat-divider> -->
    
</mat-nav-list> 