<accordion [isAnimated]="true">
    <accordion-group heading="Physician Information">
    <form [formGroup]= "appointment">  
        <div class="form-group col-md-4" >
            <label>Physician Name</label>&nbsp;
            <select class="form-control">
                <option value="0">Select Physician Name</option>
                <option  *ngFor="let name of physicians" name="physicianName" 
                formControlName="physicianName" ngDefaultControl>
               {{name.physicianId}}  {{name.physicianName}}
                 </option>
            </select>
        </div><br>
        <div class="form-group col-md-4">
            <label for="id">Physician ID</label>&nbsp;
             <input type="text" class="form-control" formControlName="physicianId">
        </div><br>
        <div>
            <button class="btn btn-primary" [disabled]="!appointment.valid">Add Appointment</button>&nbsp;
            <button class="btn btn-primary" [disabled]="!appointment.valid" >Edit Appointment</button>&nbsp;
            <button class="btn btn-primary" [disabled]="!appointment.valid" >Delete Appointment</button>&nbsp;
        </div>
    </form>
    </accordion-group><br>
    <accordion-group heading="Meeting Details">
        <div class="form-group col-md-6">
            <label for="id">Meeting Title</label>&nbsp;
           <input type="text" class="form-control" readonly>
        </div><br>
        <div class="form-group col-md-6">
            <label for="id">Paitent Id</label>&nbsp;
           <input type="text" class="form-control" placeholder="Enter Paitent Id"> 
           <button class="btn btn-primary">Search</button>&nbsp;
        </div><br>
        <accordion-group heading="Paitent Vital Details" >
            <form>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="id">Height</label>&nbsp;
                   <input type="text"  class="form-control" placeholder="Enter Height"
                   data-toggle="tooltip" data-placement="top"
                    title="In Centimeters (Cms)" >
                   <!-- <input type="text" name= "feet" class="form-control" >
                   <input type="text" name="inches" class="form-control" > -->
                </div>
                <div class="form-group col-md-4">
                    <label for="id">Weight</label>&nbsp;
                   <input type="text"  class="form-control" placeholder="Enter Weight"
                   data-toggle="tooltip" data-placement="top"
                    title="In Kilograms (Kgs)" >
                   <!-- <input type="text" name= "Kg" class="form-control" > -->
                   
                </div>
            </div><br>
            <div class="row">
                <div class="form-group col-md-4">
                    <label for="id">Blood Pressure</label>&nbsp;
                   <input type="text"  class="form-control" 
                   placeholder="Enter Blood Pressure"
                   data-toggle="tooltip" data-placement="top"
                    title="In millimeters (mm Hg)" >
                </div>
                <div class="form-group col-md-4">
                    <label for="id">Body Temperature</label>&nbsp;
                   <input type="text"  class="form-control"
                   placeholder="Enter Body Temperature"
                   data-toggle="tooltip" data-placement="top"
                    title="In Fahrenite (*F)" >
                </div>
                <div class="form-group col-md-4">
                    <label for="id">Respiration Rate</label>&nbsp;
                   <input type="text" class="form-control"
                   placeholder="Enter Respiration Rate"
                   data-toggle="tooltip" data-placement="top"
                    title="Breathing rate per min" >
                </div>
            </div>
            </form>
        </accordion-group><br>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Descriptive information</label>
                <textarea class="form-control" rows="3" cols="4"></textarea>
            </div>
            <!-- <div  class="form-group col-md-4">
                <label>Physician Name</label>
                <input type="text" class="form-control" >
            </div> -->
        </div><br>
        <div class="row">
            <div class="form-group col-md-4">
                <div>
                    <input
                        type="text"
                        placeholder="Select Date"
                        class="form-control"
                        bsDatepicker
                        [bsConfig]="{ isAnimated: true }">
                </div>
          </div><br>
          <div class="form-group col-md-4">
            <!-- <label>Time</label>&nbsp;&nbsp;
             -->

           <input type="time" value="time" class="form-control" placeholder="Select Time">
        </div>
    </div>
    <div class="form-group col-md-4">
        <label>Patient Details</label>&nbsp;&nbsp;
        <a href="" >Click Here for More Details</a>
    </div>
    </accordion-group><br>
    <accordion-group heading="Edit History">
        <div>
            <label for="id">List of Paitents</label>&nbsp;
           <table class="table table-striped">
               <thead  class="table-dark">
                   <tr>
                       <th>List of Paitent</th>
                       <!-- <th></th>
                       <th></th>
                       <th></th> -->
                   </tr>
               </thead>
               <tbody>
                   <tr *ngFor='let name of movies'>
                       <td>{{name.title}}</td>
                       <!-- <td></td>
                       <td></td>
                       <td></td> -->
                   </tr>
               </tbody>
           </table>
        </div><br>
        <div>
            <button class="btn btn-primary">Create Appointment</button>
        </div>
    </accordion-group>
</accordion>