<h2 mat-dialog-title>Add User</h2>
<!-- <mat-dialog-content class="mat-typography">
</mat-dialog-content> -->
<!-- <mat-dialog-actions align="end"> -->
    
<form [formGroup]="adduser">
    
    <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Employee ID</mat-label>
         
          <!-- <input formControlName="email" matInput placeholder="Enter email address" required/>
           -->
           <input  matInput formControlName="EmployeeId" placeholder="Enter Employee Id" required>
           <mat-error *ngIf="!adduser.controls['EmployeeId'].valid">  Employee name is required </mat-error> 
          </mat-form-field>
      </div>
    
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Employee Name</mat-label>
         
          <!-- <input formControlName="email" matInput placeholder="Enter email address" required/>
           -->
           <input  matInput formControlName="EmployeeName" placeholder="Last Name" required>
           
           <mat-error *ngIf="!adduser.controls['EmployeeName'].valid">  Employee name is required </mat-error> 
          </mat-form-field>
      </div>
    <div>
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Date of Joining</mat-label>
            <input matInput formControlName="DateOfJoining" [matDatepicker]="picker" required>
            <mat-error *ngIf="!adduser.controls['DateOfJoining'].valid">  DOB is required </mat-error> 
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
      <br>
    <div>
        <mat-radio-group formControlName="status">
          <mat-label>status</mat-label>&nbsp;&nbsp;&nbsp;
          <mat-radio-button value="Active" color="primary">&nbsp;Active&nbsp;</mat-radio-button>  
          <mat-radio-button value="InActive" color="primary">&nbsp;InActive&nbsp;</mat-radio-button>  
          <mat-radio-button value="Blocked" color="accent">&nbsp;Blocked&nbsp;</mat-radio-button>  
        </mat-radio-group> 
    </div>
    <br/>
    <br>
      <div class="example-button-row">
        <button mat-flat-button color="primary" (click) ="saveDialogData()">Submit</button>
        <button mat-flat-button color="secondary" (click)="closeDialog()">Cancel</button>
      </div>
     
    </form>    