<div class="section-1-container section-container class">
    <div class="card-body container">
        <form>
       <mat-card class="example-card">  
    <!-- Title of an Card -->  
       <mat-card-title>  
        <h2 class="title"> Recieved notes </h2>
    </mat-card-title>  
  
    <!-- Actual content starts from here -->
    
    <mat-card-content>  
                
            <table> 
            <div class="form-group text-center">
                <tr>  
                <td  class="full-width col-3">  
                    <button  mat-flat-button color="primary" (click)="Recievednotes()">Recieved notes</button>&nbsp;
                    &nbsp;&nbsp;
                </td>
                <td  class="full-width col-3">  
                    <button  mat-flat-button color="primary" routerLink="/sendnotes">send notes</button>
                    
                </td>
                </tr>
            
            </div>  
            </table>    
    </mat-card-content>  
</mat-card>
</form>  
</div>
</div>

<div class="container">
    <table class="table">
        <thead>
            <th scope="col">Appointment ID</th>
            <th scope="col">Meeting Title</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Edit History</th>
            <th scope="col">Actions</th>
        </thead>
        <tbody>
            <tr *ngFor= 'let view of ViewScheduler'>
                <td><a href="details" data-toggle="modal">{{view.Appointment_Id}}</a></td>
                <td>{{view.Meeting_Title}}</td>
                <td>{{view.Description}}</td>
                <td>{{view.Date}}</td>
                <td>{{view.Time}}</td>
                <td>{{view.Edit_History}}</td>
                <td>
                    <button class="btn btn-primary" (click)="editDetails()">Edit</button>&nbsp;&nbsp;
                    <button class="btn btn-danger" (click)="deleteDetails(view.Appointment_Id)">Decline</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
