


<div class="container">
    <div class="row">
  
     <div class="col">
      <form (ngSubmit)="onSubmit()" name=""  [formGroup]="AllergyForm">
        
        <mat-card-title style="text-align: center;">  
          <h2>Allergy Form</h2>
        </mat-card-title>
        
       


        <!-- <mat-form-field class="full-width col-4">
         <input mat-input  placeholder="Id">
        </mat-form-field> -->

        <!-- <mat-form-field appearance="legacy" class="full-width col-4">
          <mat-label>Allergy id</mat-label>
          <input matInput required > 
        </mat-form-field> -->


        <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp;  -->

         


        <mat-form-field class="full-width col-4">
          <mat-select placeholder="Allery Type">
            <mat-option *ngFor="let al of alergy" [value]="al">
              {{ al }}
            </mat-option>
          </mat-select>
        </mat-form-field>
  
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp;
        
        <mat-form-field appearance="legacy" class="full-width col-4">
          <mat-label>Allergy name</mat-label>
          <input formControlName="AllergyName" matInput required > 
        </mat-form-field>



        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp; &nbsp;&nbsp; 


        <mat-form-field appearance="legacy" class="full-width col-4">
          <mat-label>Allergy Description</mat-label>
          <textarea formControlName="AllergyDescription" matInput  required ></textarea>
        </mat-form-field>
   



        
        <div class="example-button-row">
        <button mat-flat-button color="primary">Submit</button>
      </div>
       </form>
     </div>
    </div>
  </div>
  